interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.okx.com/api/v5/public/instruments?instType=SWAP&instId=BTC-USDT-SWAP
  response:
    body:
      string: '{"code":"0","data":[{"alias":"","auctionEndTime":"","baseCcy":"","category":"1","contTdSwTime":"1611916860000","ctMult":"1","ctType":"linear","ctVal":"0.01","ctValCcy":"BTC","expTime":"","floatPxLmtPct":"0.005","freq":"","futureSettlement":false,"groupId":"4","initPxLmtPct":"0.02","instCategory":"1","instFamily":"BTC-USDT","instId":"BTC-USDT-SWAP","instIdCode":10459,"instType":"SWAP","lever":"100","listTime":"1573557408000","longPosRemainingQuota":"","lotSz":"0.01","maxIcebergSz":"100000000.0000000000000000","maxLmtAmt":"20000000","maxLmtSz":"100000000","maxMktAmt":"","maxMktSz":"35000","maxPlatOICoinLmt":"","maxPlatOILmt":"","maxPxLmtPct":"0.01","maxStopSz":"35000","maxTriggerSz":"100000000.0000000000000000","maxTwapSz":"100000000.0000000000000000","method":"","minSz":"0.01","openType":"call_auction","optType":"","posLmtAmt":"250000","posLmtPct":"30","preMktSwTime":"","quoteCcy":"","rpiMinLevel":"3","rpiMinPxBand":"20","ruleType":"normal","seriesId":"","settleCcy":"USDT","shortPosRemainingQuota":"","state":"live","stk":"","tickSz":"0.1","tradeQuoteCcyList":[],"uly":"BTC-USDT","upcChg":[]}],"msg":""}'
    headers:
      Content-Type:
      - application/json
      b-locale:
      - en_US
      x-routed-to:
      - TKY
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.okx.com/api/v5/market/history-candles?instId=BTC-USDT-SWAP&bar=4H&limit=300&after=1717200000000
  response:
    body:
      string: '{"code":"0","data":[["1717185600000","67691.6","67808.5","67246","67558.8","621111","6211.11","419571953.408","1"],["1717171200000","67219.6","68026.2","66639","67691.9","2096367.4","20963.674","1409633680.9721","1"],["1717156800000","68362.3","69062.8","67200.4","67219.7","3257222.8","3257[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.okx.com/api/v5/market/history-candles?instId=BTC-USDT-SWAP&bar=1Dutc&limit=300&after=1717200000000
  response:
    body:
      string: '{"code":"0","data":[["1717113600000","68366","69062.8","66639","67558.8","8281000.9","82810.009","5622630488.6008","1"],["1717027200000","67647.8","69523.9","67134","68366","8863159.5","88631.595","6050330054.7929","1"],["1716940800000","68404.6","68953.6","67126.7","67647.8","7965446.8"[...]
